* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.logo-barra {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}

.banner {
  height: 50vh;
  background-image: url("../assets/img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
